@font-face {
  font-family: Gilroy-Black;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-Black.ttf);
}

@font-face {
  font-family: Gilroy-BlackItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-BlackItalic.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-Bold.ttf);
}

@font-face {
  font-family: Gilroy-BoldItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-BoldItalic.ttf);
}

@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-ExtraBold.ttf);
}

@font-face {
  font-family: Gilroy-ExtraBoldItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: Gilroy-Heavy;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-Heavy.ttf);
}

@font-face {
  font-family: Gilroy-HeavyItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-HeavyItalic.ttf);
}

@font-face {
  font-family: Gilroy-Light;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-Light.ttf);
}

@font-face {
  font-family: Gilroy-LightItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-LightItalic.ttf);
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-Medium.ttf);
}

@font-face {
  font-family: Gilroy-MediumItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-MediumItalic.ttf);
}

@font-face {
  font-family: Gilroy-Regular;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-Regular.ttf);
}

@font-face {
  font-family: Gilroy-RegularItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-RegularItalic.ttf);
}

@font-face {
  font-family: Gilroy-SemiBold;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: Gilroy-SemiBoldItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-SemiBoldItalic.ttf);
}

@font-face {
  font-family: Gilroy-Thin;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-Thin.ttf);
}

@font-face {
  font-family: Gilroy-ThinItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-ThinItalic.ttf);
}

@font-face {
  font-family: Gilroy-UltraLight;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-UltraLight.ttf);
}

@font-face {
  font-family: Gilroy-UltraLightItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-UltraLightItalic.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  font: 1.0625rem Gilroy-Regular;
  line-height: 1.5;
  color: #000;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Navbar */

#menuToggle
{
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  height: 107vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  margin-left: -20px;

  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.supernav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  font-family: Gilroy-Regular;
  padding: 0 20px;
  font-size: 22px;
  z-index: 99;
  color: #fff;
  margin-top: 5px;
}

.supernav a,  .supernav a:visited, .supernav a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.supernav a:hover {
  color: orange;
  text-decoration: none;
}

.menufr {
  margin-right: 10px;
}

.search {
  flex: 0 0 auto;
  margin-left: 50px;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
}

.logo {
  flex: 1;
  text-align: center;
  padding: 20px 0;
  font-size: 26px;
  letter-spacing: 5px;
  font-family: 'Prata';
}

.icon-nav-bar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  margin-right: 15px;
}

.icon-nav-bar-right div {
  flex: 0 0 auto;
}

.Login i,
.Heart i,
.Cart i {
  display: inline-block;
  font-size: 2rem;
  margin-right: 5px;
}

/* Hero */

.main {
  width: 100%;
}

.carousel-item {
  height: 100vh;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero {
  display: block;
  height: 100vh;
  justify-content: center;
  position: absolute;
  top: 230px;
  padding-left: 10rem;
  z-index: 1;
  pointer-events: none;
  width: 700px;
}

.hero-title {
  font-family: Gilroy-Regular;
  overflow: hidden;
  position: absolute;
}

.hero-title h1 {
  line-height: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #2b2b2b;
  transform: translateY(100%);
  overflow: hidden;
  font-size: 60px;
  color: white;
  margin-bottom: 30px;
}

.hero-title h2 {
  color: white;
  width: 100%;
}

.hero .container {
  margin-bottom: 250px;
}

/* Button */

.container {
  position: absolute;
  z-index: 1;
  display: flex;
  bottom: 30px;
  width: 200px;
  left: 60px;
}

.hero .button .button-2 {
  margin-bottom: 300px;
}

.button {
  width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Gilroy-Medium';
}

.button-2 {
  color: #fff;
  border: 3px solid #ffffff;
  background-image: -webkit-linear-gradient(30deg, transparent 50%, #ffffff 50%);
  background-image: linear-gradient(30deg, transparent 50%, orange 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.button-2:hover {
  background-position: 100%;
  color: rgb(255, 255, 255);
  border: 3px solid #ffb300;
}

/* Featured Collections Section */

.featured {
  padding-left: 100px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.cntr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
}

figure.card {
  position: relative;
  width: 600px;
  height: 400px;
  background-image: var(--image-src);
  background-position: 50% 50%;
  background-size: 130%;
  transition: background 400ms ease;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.03), 0 22.3px 17.9px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

.featured .container {
  left: 160px;
  bottom: 120px;
}

.card--1 h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: Gilroy-Regular;
  padding-top: 80px;
}

.card--2 h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: Gilroy-Regular;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
}


figure.card--1:hover {
  background-position: 0% 50%;
}

figure.card--2 {
  background-size: 130%;
}

figure.card--2:hover {
  background-position: 0% 50%;
}

@media only screen and (max-width: 900px) {
  body {
    align-items: start;
  }

  .cntr {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 40px;
    padding: 80px 0;
  }
}

/* Bestselling */

.bestselling {
  margin-top: 50px;
}

.bestselling h1 {
  text-align: center;
  font-family: Gilroy-Regular;
  font-weight: 400;
  font-size: 20px;
  color: #daa14c;
  margin-bottom: 20px;
}

.bestselling h3 {
  text-align: center;
  font-family: Gilroy-Regular;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 50px;
}

/* Button */

.featured button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.featured button.learn-more {
  width: 12rem;
  height: auto;
}

.featured button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

.featured button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.featured button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.featured button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.featured button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.featured button:hover .circle {
  width: 100%;
}

.featured button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.featured button:hover .button-text {
  color: #fff;
}

/* Process */

.process {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.process .left {
  flex: 1;
  padding-left: 80px;
  padding-bottom: -50px;
}

.process .left img {
  align-self: flex-start;
}

.process .right {
  flex: 1;
  margin-bottom: 120px;
  padding-left: 100px;
  position: relative;
  padding-bottom: 80px;
}

.process .subheading {
  letter-spacing: 8px;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: orange;
  font-family: Gilroy-Regular;
  padding-bottom: 20px;
  margin-bottom: 30px;
  padding-top: 23px;
}

.process h1 {
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: Gilroy-Regular;
}

.process p {
  font-size: 1.7rem;
  font-family: Gilroy-Regular;
  margin-top: 50px;
  width: 52%;
  margin-bottom: 50px;
}

.process .container {
  bottom: 0;
  margin-top: 0px;
}

.rings {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.rings img {
  width: 120%;
  background-position-x: left;
  display: block;
  margin: 0 auto;
}

.rings h3 {
  position: absolute;
  top: 20%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: orange;
  font-family: Gilroy-Regular;
  letter-spacing: 5px;
  font-size: 16px;
}

.rings h1 {
  position: absolute;
  top: 25%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-family: 'Prada, serif';
  letter-spacing: 3px;
  font-size: 50px;
  padding-top: 120px;
  color: white;
  width: 30%;
}

.rings p {
  position: absolute;
  top: 45%;
  left: 35%;
  transform: translate(-50%, -50%);

  letter-spacing: 3px;
  font-size: 18px;
  width: 30%;
  padding-top: 120px;
  color: white;
}

.rings .container {
  padding-left: 330px;
  padding-bottom: 100px;
}

/* Testimonials */

.gtco-testimonials {
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
}

.gtco-testimonials h2 {
  font-size: 30px;
  text-align: center;
  color: #333333;
  margin-bottom: 50px;
}

.gtco-testimonials .owl-stage-outer {
  padding: 30px 0;
}

.gtco-testimonials .owl-nav {
  display: none;
}

.gtco-testimonials .owl-dots {
  text-align: center;
}

.gtco-testimonials .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 2px solid #01b0f8;
  margin: 0 5px;
}

.gtco-testimonials .owl-dots .active {
  box-shadow: none;
}

.gtco-testimonials .owl-dots .active span {
  background: #01b0f8;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}

.gtco-testimonials .card {
  background: #fff;
  box-shadow: 0 8px 30px -7px #c9dff0;
  margin: 0 20px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
}

.gtco-testimonials .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px #95abbb;
  width: 100px;
  height: 100px;
}

.gtco-testimonials .card h5 {
  color: #f89101;
  font-size: 21px;
  line-height: 1.3;
  font-family: Gilroy-Regular;
}

.gtco-testimonials .card h5 span {
  font-size: 18px;
  color: #666666;
  font-family: 'Prata, serif';
}

.gtco-testimonials .card p {
  font-size: 17px;
  color: #555;
  padding-bottom: 15px;
  font-family: 'Prata, serif';
}

.gtco-testimonials h3 {
  color: orange;
  letter-spacing: 3px;
  font-family: Gilroy-Regular;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
}

.gtco-testimonials h2 {
  color: black;
  font-family: Prata;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
}

.gtco-testimonials .active {
  opacity: 0.5;
  transition: all 0.3s;
}

.gtco-testimonials .center {
  opacity: 1;
}

.gtco-testimonials .center h5 {
  font-size: 24px;
}

.gtco-testimonials .center h5 span {
  font-size: 20px;
}

.gtco-testimonials .center .card-img-top {
  max-width: 100%;
  height: 120px;
  width: 120px;
}

@media (max-width: 767px) {
  .gtco-testimonials {
    margin-top: 20px;
  }
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  outline: 0;
}

.owl-carousel button.owl-dot {
  outline: 0;
}

.image-wrapper {
  display: inline-block;
  position: relative;
  width: 30%;
  margin: 0 1%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50% 50% 0 0;
  bottom: -50%;
  transition: all 0.3s ease-in-out;
}

.overlay:hover {
  bottom: 0;
}

/* Shop now */

.img-container {
  display: flex;
  justify-content: space-around;
  padding-left: 60px;
  margin-top: 200px;
}

.img-box {
  position: relative;
  width: 33%;
  margin-right: 60px;
  /* add 60px of margin to the right */
}

.img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.txt {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  transition: all 0.5s ease;
}

.prim-txt {
  z-index: 1;
  margin-bottom: 50px;
}

.sec-txt {
  z-index: 0;
  opacity: 0;
  transform: translateY(50%);
}

.img-box .top-left-text {
  position: absolute;
  top: -50px;
  left: 0px;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-weight: 900;
}

.img-box .top-right-text {
  position: absolute;
  top: -50px;
  right: 0px;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-weight: 900;
}

.img-box:hover .sec-txt {
  opacity: 1;
  transform: translateY(0);
}



.icon-container {
  display: flex;
  justify-content: space-between;
  padding: 0 60px; /* add padding to the sides */
  margin-top: 200px;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  padding: 20px; /* add padding to the boxes */
  box-sizing: border-box;
  text-align: center;
}

.icon-box:hover {
  color: orange;
}

.icon-box i {
  font-size: 3rem; /* set the size of the icons */
  margin-bottom: 10px;
}

.icon-label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.icon-description {
  font-size: 1rem;
  color: #666;
}
  
.icon-box:not(:first-child) {
  margin-left: 40px; /* add margin to the boxes except the first one */
}



.newsletter-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.newsletter-title {
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.newsletter-text {
  font-size: 20px;
  margin-bottom: 40px;
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.newsletter-input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 16px;
}

.newsletter-submit {
  padding: 10px 20px;
  background-color: #ff9900;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.newsletter-submit:hover {
  background-color: #ff6600;
}

.newsletter-policy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-checkbox {
  margin-right: 5px;
}

.newsletter-label {
  font-size: 14px;
}



/* Footer styles */
footer {
  background-color: #232323;
  color: #fff;
  padding: 40px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  margin-right: 30px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #ffd700; /* Yellow color for headings */
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #ffd700; /* Yellow color on hover */
}

.contact-info {
  flex: 1;
  text-align: right;
}

.contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #ffd700; /* Yellow color for headings */
}

.contact-info p {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  color: #888; /* Light gray color for copyright text */
}

.footer-bottom p {
  margin: 0;
}
