@font-face {
  font-family: Gilroy-Black;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-Black.ttf);
}
@font-face {
  font-family: Gilroy-BlackItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-BlackItalic.ttf);
}
@font-face {
  font-family: Gilroy-Bold;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-Bold.ttf);
}
@font-face {
  font-family: Gilroy-BoldItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-BoldItalic.ttf);
}
@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-ExtraBold.ttf);
}
@font-face {
  font-family: Gilroy-ExtraBoldItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: Gilroy-Heavy;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-Heavy.ttf);
}
@font-face {
  font-family: Gilroy-HeavyItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-HeavyItalic.ttf);
}
@font-face {
  font-family: Gilroy-Light;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-Light.ttf);
}
@font-face {
  font-family: Gilroy-LightItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-LightItalic.ttf);
}
@font-face {
  font-family: Gilroy-Medium;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-Medium.ttf);
}
@font-face {
  font-family: Gilroy-MediumItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-MediumItalic.ttf);
}
@font-face {
  font-family: Gilroy-Regular;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-Regular.ttf);
}
@font-face {
  font-family: Gilroy-RegularItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-RegularItalic.ttf);
}
@font-face {
  font-family: Gilroy-SemiBold;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: Gilroy-SemiBoldItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-SemiBoldItalic.ttf);
}
@font-face {
  font-family: Gilroy-Thin;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-Thin.ttf);
}
@font-face {
  font-family: Gilroy-ThinItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-ThinItalic.ttf);
}
@font-face {
  font-family: Gilroy-UltraLight;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-UltraLight.ttf);
}
@font-face {
  font-family: Gilroy-UltraLightItalic;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-UltraLightItalic.ttf);
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    font: 1.0625rem Gilroy-Regular;
    line-height: 1.5;
    color: #000;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* Navbar */

.navigation {
  position: relative;
  height: 70px;
  background: #262626;
  padding-right: 5.5%;
}

.brand {
  position: relative;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 2em;
  padding-left: 5.5%;
}

.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  margin: 0 auto;
}

nav {
  float: right;

}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: rgb(142, 130, 115);
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* Hero */

.main{
  width: 100%;
}
.carousel-item {
  height: 100vh;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero {
    display: block;
    height: 100vh;
    justify-content: center;
    position: absolute;
    top: 280px;
    padding-left: 10rem;
    z-index: 100;
    pointer-events: none;
    width: 700px;
}
.hero-title{
  font-family: Gilroy-UltraLight;
  overflow: hidden;
  position: absolute;
}
.hero-title h1{
    line-height: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #2b2b2b;
    transform: translateY(100%);
    overflow: hidden;
    font-size: 60px;
    color: white;
    margin-bottom: 30px;
}

.hero-title h2 {
  color: white;
  width: 100%;
}

/* Button */

.container {
  position: absolute;
  z-index: 99;
  display: flex;
  bottom: 30px;
  width: 200px;
  left: 6.5rem;
}

.button {
  width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Gilroy-Medium';
}

.button-2 {
  color: #fff;
  border: 3px solid #d3c42373;
  background-image: -webkit-linear-gradient(30deg, #f7ea00 50%, transparent 50%);
  background-image: linear-gradient(30deg, #d3d366 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button-2:hover {
  background-position: 100%;
  color: #ffe600;
}

/* Featured Collections Section */

.featured {
  padding-left: 100px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.cntr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
}

figure.card {
  position: relative;
  width: 600px;
  height: 400px;
  background-image: var(--image-src);
  background-position: 50% 50%;
  background-size: 125%;
  transition: background 400ms ease;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.03), 0 22.3px 17.9px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}
figure.card:hover figcaption {
  transform: translateY(0px);
}
figure.card--1:hover {
  background-position: 50% 100%;
}
figure.card--1 figcaption {
  bottom: 0;
  transform: translateY(80px);
}
figure.card--2 {
  background-size: 110%;
}
figure.card--2:hover {
  background-position: 50% -100%;
}
figure.card--2 figcaption {
  top: 0;
  transform: translateY(-80px);
}
figure.card--3 {
  background-size: 115%;
}
figure.card--3:hover {
  background-position: -100% 50%;
}
figure.card--3 figcaption {
  left: 0;
  transform: translateX(-180px);
}
figure.card--4:hover {
  background-position: 100% 50%;
}
figure.card--4 figcaption {
  right: 0;
  transform: translateX(180px);
}
figure.card--1 figcaption, figure.card--2 figcaption {
  width: 100%;
  height: 80px;
  padding: 15px 20px;
}
figure.card--3 figcaption, figure.card--4 figcaption {
  flex-direction: column;
  width: 180px;
  height: 100%;
  padding: 20px 15px;
}
figure.card figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background: #282828;
  transition: transform 400ms ease;
}
figure.card figcaption .info {
  color: #e2e2e2;
  font-family: "Montserrat";
}
figure.card figcaption .info h3 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: 2px;
}
figure.card figcaption .info span {
  color: #72cc60;
  font-size: 0.85rem;
}
figure.card figcaption .links {
  display: flex;
  justify-content: end;
  align-items: center;
}
figure.card figcaption .links a {
  text-decoration: none;
  position: relative;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: 10px;
  font-size: 1.2rem;
  opacity: 0.65;
  border-radius: 50%;
  overflow: hidden;
}
figure.card figcaption .links a:hover {
  opacity: 1;
}
figure.card figcaption .links a:focus {
  outline: none;
}
figure.card figcaption .links a:focus::after {
  transform: scale(1);
  opacity: 1;
}
figure.card figcaption .links a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.05);
  transform: scale(0.5);
  z-index: -1;
  transition: all 150ms ease;
}

@media only screen and (max-width: 900px) {
  body {
    align-items: start;
  }

  .cntr {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 40px;
    padding: 80px 0;
  }
}

/* Bestselling */

.bestselling h1 {
  text-align: center;
  font-family: Gilroy-Regular;
  font-weight: 400;
  font-size: 20px;
  color: #daa14c;
  margin-bottom: 20px;
}

.bestselling h3 {
  text-align: center;
  font-family: Gilroy-Regular;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 50px;
}